<section id="benefits" class="benefits py-5 text-center">
    <div class="container py-4">
        <h2 class="mb-5">Beneficios que Hacen la Diferencia</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="benefit-card">
                    <div class="icon mb-3">
                        <i class="fas fa-coins fa-2x"></i>
                    </div>
                    <h4>Recolección de Puntos</h4>
                    <p>Acumula puntos en tiendas seleccionadas.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="benefit-card">
                    <div class="icon mb-3">
                        <i class="fas fa-percentage fa-2x"></i>
                    </div>
                    <h4>Cashback del 1.5%</h4>
                    <p>Recupera dinero en cada compra.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="benefit-card">
                    <div class="icon mb-3">
                        <i class="fas fa-ticket-alt fa-2x"></i>
                    </div>
                    <h4>Acceso a Preventas de Eventos</h4>
                    <p>Sé el primero en acceder a tus eventos favoritos.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="benefit-card">
                    <div class="icon mb-3">
                        <i class="fas fa-chart-line fa-2x"></i>
                    </div>
                    <h4>Intereses del 5% en Inversiones</h4>
                    <p>Haz crecer tu dinero con intereses atractivos.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="benefit-card">
                    <div class="icon mb-3">
                        <i class="fas fa-calendar-alt fa-2x"></i>
                    </div>
                    <h4>Compras Diferidas hasta 36 meses</h4>
                    <p>Intereses competitivos del 12%.</p>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="benefit-card">
                    <div class="icon mb-3">
                        <i class="fas fa-gift fa-2x"></i>
                    </div>
                    <h4>Participación en Sorteos</h4>
                    <p>Gana becas y beneficios estudiantiles.</p>
                </div>
            </div>
        </div>
    </div>
</section>
