<section id="Requisitos" class="pricing py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="pricing-image-wrapper">
                    <img src="Requisitos.jpg" alt="Pricing Image" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-info">
                    <div class="icon mb-3">
                        <i class="fas fa-wallet fa-2x"></i>
                    </div>
                    <h2 class="mb-4">Fácil de Obtener, Fácil de Usar</h2>
                    <p>Requisitos</p>
                    <ul class="list-unstyled">
                        <li class="mb-2"><i class="fas fa-check-circle text-orange"></i> A partir de 18 años hasta 25años.</li>
                        <li class="mb-2"><i class="fas fa-check-circle text-orange"></i> Antiguedad en Cuenta por 6 meses o más.</li>
                        <li class="mb-2"><i class="fas fa-check-circle text-orange"></i> Monto mínimo de apertura de la cuenta: $50.</li>
                        <li class="mb-2"><i class="fas fa-check-circle text-orange"></i> Copia de cédula de identidad.</li>
                    </ul>
                    <a href="/Aplication" class="text-decoration-none text-orange">Obtener Tarjeta &gt;</a>
                </div>
            </div>
        </div>
    </div>
</section>
