<section id="subscribe" class="subscribe py-5 text-center">
    <div class="container">
        <div class="subscribe-box p-5">
            <h2 class="mb-4">Solicita información, más datos y ofertas interesantes sobre <span class="text-orange">Z-Card</span></h2>
            <p class="text-suscribe mb-4">Inteligente, Flexible y Diseñada para Ti</p>
            <form class="form-inline justify-content-center">
                <div class="form-group mb-2 form-Sub">
                    <label for="email" class="sr-only">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                        </div>
                        <input type="email" class="form-Sub-input form-control" id="email" placeholder="Ingresa tu Email">
                        <button type="submit" class="btn btn-orange d-none d-md-flex" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">Solicita Tu Información Ahora</button>
                    </div>
                    <button type="submit" class="btn btn-orange d-md-none" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">Solicita Tu Información Ahora</button>
                </div>
            </form>
        </div>
    </div>
</section>