#signUpForm {
    max-width: 700px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
}

#signUpForm .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}

#signUpForm .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}

#signUpForm .form-header .stepIndicator.active {
    font-weight: 600;
}

#signUpForm .form-header .stepIndicator.finish {
    font-weight: 600;
    color: #e9780b;
}

#signUpForm .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fbaf69;
    border: 3px solid #fccca0;
}

#signUpForm .form-header .stepIndicator.active::before {
    background-color: #e9780b;
    border: 3px solid #ffc086;
}

#signUpForm .form-header .stepIndicator.finish::before {
    background-color: #e9780b;
    border: 3px solid #ffc086;
}

#signUpForm .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
}

#signUpForm .form-header .stepIndicator.active::after {
    background-color: #d4d4d4;
}

#signUpForm .form-header .stepIndicator.finish::after {
    background-color: #f68c2a;
}

#signUpForm .form-header .stepIndicator:last-child:after {
    display: none;
}

#signUpForm input {
    padding: 15px 20px;
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

#signUpForm input:focus {
    border: 1px solid #e9780b;
    outline: 0;
}

#signUpForm input.invalid {
    border: 1px solid #ffaba5;
}

#signUpForm .step {
    display: none;
}

#signUpForm .form-footer {
    overflow: auto;
    gap: 20px;
}

#signUpForm .form-footer button {
    background-color: #e9780b;
    border: 1px solid #ff9430 !important;
    color: #ffffff;
    border: none;
    padding: 13px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
}

#signUpForm .form-footer button:hover {
    opacity: 0.8;
}

#signUpForm .form-footer #prevBtn {
    background-color: #fff;
    color: #e9780b;
}



.image-select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-bottom: 20px;
}

.image-option {
    border: 2px solid transparent;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.3s;
}

.image-option img {
    max-width: 250px;
    height: auto;
    display: block;
}

.image-option.selected {
    border: 4px solid #e6a45e;
}

@media (max-width: 768px) {
    .image-option img {
        max-width: 70px;
    }


}

@media (max-width: 480px) {
    .image-option img {
        max-width: 50px;
    }

    #signUpForm {
        max-width: 700px;
        background-color: #ffffff;
        margin: 40px auto;
        padding: 40px;
        border-radius: 0px;
    }

    .stepIndicator {
        font-size: 11px;
    }
}
