.header {
    position: relative;
    /*background: url('your-image-path.jpg') no-repeat center center/cover;*/
    height: 93vh;
    color: white;
}

.header::before, .header::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 137, 33, 0.226);
    filter: blur(30px);
}

.header::before {
    width: 200px;
    height: 200px;
    top: 20%;
    left: 10%;
}

.header::after {
    width: 300px;
    height: 300px;
    bottom: 20%;
    right: 10%;
}

.header-container{
    padding: 80px;
    z-index: 1;
}

.header .card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.header .navbar {
    padding: 1rem 2rem;
}

.header .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.header .navbar-nav .nav-link {
    margin-right: 1rem;
    font-size: 1rem;
}

.header .btn {
    border-radius: 20px;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.header p.lead {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.header .stats {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.header .stats div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.header .stats div span{
    font-size: 36px;
    margin-right: 5px;
    font-weight: 500;
}



@media (max-width: 768px) {
    .header {
        height: 110vh;
    }

    .header h1 {
        font-size: 2rem;
    }

    .header p.lead {
        font-size: 1rem;
    }

    .header .stats {
        flex-direction: column;
        gap: 1rem;
    }

    .header .card-section {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .header-container{
        padding: 20px;
    }

    .text-section h1, .lead{
        text-align: center;
    }

    .text-section div{
        display: flex;
        justify-content: center;
    }

    .stats div{
        flex-direction: column;
    }

    .header::after {
        width: 300px;
        height: 300px;
        bottom: 20%;
        right: 10%;
        z-index: -1;
    }

}

.divider-orange{
    width: 100%;
    height: 263px;
    background: linear-gradient(152deg, #ff9631, #db3f00);
    border-radius: 23%;
    position: absolute;
    bottom: -200px;
    z-index: 0;
}

@media (max-width: 768px) {
    .divider-orange{
        display: none;
    }
}
