<header class="header">
    <div class="header-container">
        <div class="row align-items-center">
            <div class="col-md-6 card-section col-12 order-md-2">
                <app-card-mock></app-card-mock>
            </div>
            <div class="col-md-6 text-section text-white col-12 order-md-1 ">
                <h1>La Tarjeta Inteligente que se Adapta a Ti</h1>
                <p class="lead">Z-Card: Tu Compañera Financiera para un Futuro Brillante</p>
                <div class="mt-4">
                    <a href="/Aplication"><button class="btn btn-light">Solicítala Ahora</button></a>
                    <a href="/Home#benefits"><button class="btn btn-outline-light mx-2">Beneficios</button></a>
                </div>
                <div class="stats mt-4">
                    <div><span>7653</span>Tarjetas entregadas</div>
                    <div><span>+$4M</span>Transacciones completadas</div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="divider-orange"></div>
